<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col navbar">
          <a href="/">Home</a>
        <div>
          <button onclick="window.location.href='/designer/registerForm'">Register</button>
          <button onclick="window.location.href='/designer/formLogin'">Login</button>
        </div>
      </div>
    </div>
  </div>
</header>