body {
  background-image: 
  linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
  url("/images/login4.jpg");
  background-size: cover;
  background-position: center;
}

h2{
  color: #E5BDA2;
}

img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.formulario{
  border-radius: 1rem;
  background-color: #E5BDA2;
  margin-top: 4rem;
  margin-bottom: 8rem;
  color: black;
  opacity: 0.8;

  @media(width < 500px){
    margin-top: 0.5rem;
  }

  .vuelta {
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    background-color: #E5BDA2;
    border-radius: 10px;
    border: 2px solid black;
  }

  button {
    border: none;
    padding: 0.3rem 1.7rem;
    border-radius: 1rem;
    background-color: #897474;
    color: #E5BDA2;
  
    &:hover {
      background-color: white;
      color: black;
    }
  }

  .botones{
    @media(width < 500px){
      padding-block-end: 1.6rem;
    }
  }
}